/* recipe.css from author @LuxJoghurt (Pedro Ribeiro Costa)*/

/* Style for the container of recipes */
#recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for the container of each row */
.row-container {
    width: calc(100% - 20px); /* Adjusting for the margin */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Space between rows */
}

/* Style for each recipe card */
.background {
    flex: 0 0 calc(33.33% - 20px); /* Each recipe card takes up 33.33% of the container width with 20px margin on each side */
    margin-bottom: 10px; /* Space between recipe cards */
    padding: 10px; /* Add padding around the recipe card */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerHome {
    position: relative;
    overflow: hidden;
    height: 300px; /* Increase the height of the container */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #fff;
    padding: 20px;
}

.textHome h4 {
    margin-bottom: 0;
}

.textHome p {
    margin-top: 5px;
    font-size: 14px;
}
